.sphere {
  fill: #fafafa;
}

.graticules {
  stroke: #f2f2f2;
}

.interiors {
  fill: none;
  stroke: #3a3a69;
}

.text {
  font-size: 6px;
}

.landing-circle {
  cursor: pointer;
}

.landing-circle:hover {
  fill: red;
}
